bootstrap.py
nbproject
*~
*.pyo
*#
.#*
*.lock
*.eml
*.pyc
*.log
*.db
*.profile
.Python
*.egg-info
*.egg
/bin/
/include/
/lib/
/share/
/src/
/man/
.svn
download-cache/
paver-minilib.zip
.DS_Store
*.tmp
/tmp/
.svnignore
epydoc.config
setup.cfg
build/
*.bbprojectd/
*.httpreq
local_secrets.ini
local.py
*.sublime-project
*.sublime-workspace
.coverage
